@model IdentityDemo.ViewModels.ItemsViewModel
@{
    Layout = "_Zone_layout";
    int counter = 1;
}
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/custom_css/allitemlist.css" rel="stylesheet"/>

<section class="py-5">
    <div class="container">
        <div id="carouselExampleControls" class="carousel slide carousel-dark" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active"></li>
                @{
                   
                    foreach (var shop in Model.Shops)
                    {
                        <li data-bs-target="#carouselExampleControls" data-bs-slide-to="@counter"></li>
                        counter++;
                    }
                }
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item active">
                   <img style="width:1100px" src="~/img/welcome_top.png" />
                </div>
                @foreach (var shop in Model.Shops)
                {
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-8">
                                <img src="~/img/shop/@shop.ProfileImagePath" class="d-block w-100 rounded" alt="...">
                            </div>
                            <div class="col-md-4 d-flex flex-column justify-content-center">
                                <div>
                                    <h5>@shop.ShopName</h5>
                                    <p>Phone: @shop.ShopPhone</p>
                                    <p>Address: @shop.ShopAddress</p>
                                    <a href="@Url.Action("ItemByShopid", "Item", new { shopId = shop.ShopId })" class="btn btn-outline-secondary rounded">See Detail >></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>

</section>

<div class="container">
    <br />
    <div class="row justify-content-left formargin">
        @foreach (var item in Model.Items)
        {
            var shop = Model.Shops.FirstOrDefault(s => s.ShopId == item.Shop_Id);
            <div class="col-lg-3 col-md-4 d-flex justify-content-center">
                <div class="card card-custom">
                    <div class="img-box">
                    <img src="~/img/items/@item.ItemImageName" class="card-img-top" alt="Product 1">
                    </div>
                    <div class="card-body">
                        <div class="shop-name mb-2">
                            <i class="fas fa-store"></i>: <span class="card-title"><a href="@Url.Action("ItemByShopid", "Item", new { shopId = shop.ShopId })">@shop.ShopName</a></span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">@item.ItemName</h5>
                            <p class="card-text">@item.ItemChangedPrice</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <button class="btn btn-primary btn-sm custom-btn" onclick="decrementQuantity(@item.ItemId)">-</button>
                                <span id="quantity-display-@item.ItemId" class="count">1</span>
                                <button class="btn btn-primary btn-sm custom-btn" onclick="incrementQuantity(@item.ItemId)">+</button>
                            </div>
                            <a href="#" class="btn btn-primary btn-sm" onclick="prepareBuyItem(@item.ItemId, '@item.ItemName', '@item.ItemChangedPrice')">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <form id="buyItemForm" method="post" action="@Url.Action("Order_confirm", "Order")" style="display:none;">
        <input type="hidden" name="selectedItems[0].Key" id="selectedItemId" />
        <input type="hidden" name="selectedItems[0].Value" id="selectedItemQuantity" />
    </form>
</div>

<div class="modal fade" id="buyItemModal" tabindex="-1" role="dialog" aria-labelledby="buyItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="buyItemModalLabel">Confirm Purchase</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>You are about to buy:</p>
                <p hidden><strong >Item ID:</strong> <span id="modalItemId"></span></p>
                <p><strong>Item Name:</strong> <span id="modalItemName"></span></p>
                <p><strong>Item Price:</strong> $<span id="modalItemPrice"></span></p>
                <p>Quantity: <span id="modalItemQuantity"></span></p>
                <p>Do you want to proceed?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="submitBuyItem()">Confirm Purchase</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Allitemlistbuy.js"></script>
