
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
    ApplicationUser currentUser = await UserManager.GetUserAsync(User);
    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap CSS -->
   
    <link href="~/css/download_css/5_2_3_bootstrap.min.css" rel="stylesheet" />    
    <link href="~/css/download_css/5_2_docs.css" rel="stylesheet" />
    <link href="~/css/custom_css/shoplayout.css" rel="stylesheet" />
    <script src="~/js/download_js/5_2_3_bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbarclass fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand me-auto logocss" href="#">uab Zone</a>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">uab zone</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" aria-current="page" href="@Url.Action("Index","Home")">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="@Url.Action("About","Home")">About</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link mx-lg-2" href="@Url.Action("HomePageItems","Item")">Shop</a>
                            </li>
                        }
                        @*<li class="nav-item">
                            <a class="nav-link mx-lg-2" href="@Url.Action("About","Home")">About</a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="@Url.Action("Test64","Home")">Test</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            @if (User.Identity.IsAuthenticated)
            {
                <div class="dropdown login-button">
                    <a class="btn dropdown-toggle" href="#" role="button" id="loginDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                       @currentUser.UserName
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="loginDropdown" style="text-align: center;margin-right:30px;">                        
                        @if (currentUser.Role == "Admin")
                            {
                            <li><a class="dropdown-item" href="/AdminControl/Admin_dashboard">Dashboard</a></li>
                            }
                            else if (currentUser.Role == "Owner")
                            {
                            <li><a class="dropdown-item" href="/Account/User_profile">Profile</a></li>
                            <li><a class="dropdown-item" href="/Shop/Owner_dashboard">Dashboard</a></li>
                            }
                            else
                            {
                            <li><a class="dropdown-item" href="/Account/User_profile">Profile</a></li>
                            }
                        
                        
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form asp-controller="Account" asp-action="Logout" method="post">
                                <button type="submit" class="dropdown-item">Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>
            }
            else
            {

                <a href="@Url.Action("Login","Account")" class="btn login-button">Login</a>
            }

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <div style="margin-top: 74px">
        @RenderBody()
        @RenderSection("Scripts", required: false)
        @RenderSection("Shopidcss",required:false)
    </div>
    <footer class=" text-white text-center py-3" style="background-color: black;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <h5>Contact Us</h5>
                    <ul class="list-unstyled">
                        <li >Email: contact@uabzone.com</li>
                        <li>Phone: +1234567890</li>
                        <li>Address: 123 Street, City, Country</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Follow Us</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Facebook</a></li>
                        <li><a href="#" class="text-white">Twitter</a></li>
                        <li><a href="#" class="text-white">Instagram</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Legal</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Privacy Policy</a></li>
                        <li><a href="#" class="text-white">Terms of Service</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p>&copy; 2024 uab zone. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
